---
interface Props {
  siteName?: string;
  tenantSlug?: string;
}

const { siteName, tenantSlug } = Astro.props;
---

<footer class="site-footer">
    <div class="upper-footer">
        <div class="container">
            <div class="row">
                <div class="col col-lg-3 col-md-3 col-sm-6">
                    <div class="widget about-widget">
                        <div class="logo widget-title">
                            <h3>About us</h3>
                        </div>
                        <p>Who sat upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer. Gregor then turned to</p>
                        <div class="social">
                            <ul>
                                <li><a href="#"><i class="ti-facebook"></i></a></li>
                                <li><a href="#"><i class="ti-twitter-alt"></i></a></li>
                                <li><a href="#"><i class="ti-linkedin"></i></a></li>
                                <li><a href="#"><i class="ti-pinterest"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col col-lg-3 col-md-3 col-sm-6">
                    <div class="widget link-widget">
                        <div class="widget-title">
                            <h3>Important Links</h3>
                        </div>
                        <ul>
                            <li><a href="#">About us</a></li>
                            <li><a href="#">The team</a></li>
                            <li><a href="#">Our services</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                        <ul>
                            <li><a href="#">Provacu Policy</a></li>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">News</a></li>
                            <li><a href="#">Testimonials</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col col-lg-3 col-md-3 col-sm-6">
                    <div class="widget contact-widget service-link-widget">
                        <div class="widget-title">
                            <h3>Address Location</h3>
                        </div>
                        <ul>
                            <li>House no 25, dreen street, melborn Dowltown</li>
                            <li>Phone:  ++8525120</li>
                            <li>Office Time: 8AM- 4PM</li>
                            <li>Email: <a href="mailto:email@email.com">email@email.com</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col col-lg-3 col-md-3 col-sm-6">
                    <div class="widget newsletter-widget">
                        <div class="widget-title">
                            <h3>Newsletter</h3>
                        </div>
                        <p>You will be notified when somthing new will be appear.</p>
                        <form>
                            <div class="input-1">
                                <input type="email" class="form-control" placeholder="Email Address *" required>
                            </div>
                            <div class="submit clearfix">
                                <button type="submit"><i class="ti-email"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div> <!-- end container -->
    </div>
    <div class="lower-footer">
        <div class="container">
            <div class="row">
                <div class="separator"></div>
                <div class="col col-xs-12">
                    <p class="copyright">Copyright &copy; 2024 {siteName || 'Nictorys'}. All rights reserved.</p>
                    <div class="short-links">
                        <ul>
                            <li><a href="#">Privacy</a></li>
                            <li><a href="#">Terms of Use</a></li>
                            <li><a href="#">Cookies</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
